<h1>An interactive bash tutorial for beginners</h1>
<p>A project by <a href="https://jenweber.github.io/portfolio/" rel="noopener noreferrer" target="_blank">Jen Weber</a></p>

<p>
    Welcome to the interactive Mac OS bash tutorial designed to help you on you prepare for your first
    day of training or employment as a web developer.
    Many onboarding or project setup instructions assume you know some
    bash commands, so this will help you get off to a good start!
    This tutorial will focus on the fundamentals that you will need to know in order
    to navigate through your computer's file system and do some developer
    environment setup.
</p>

<p>
  Please note that this app is not a full Bash environment.
  The only commands that will work are those that each step's instructions ask for.
  I encourage you to try them all out on your own computer's terminal, if you want to see what happens when you make changes!
  Nothing you are learning here is destructive. They are all safe to play around with!
  Just don't delete or overwrite anything.
</p>